html {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  font-family: Overpass, sans-serif;
  color: #fff;
}

.btn {
  background-color: transparent;
  display: inline-block;
  border: 3px solid rgba(255, 255, 255, .5);
  color: #fff;
  margin-top: 1em;
  margin-left: 0;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-right: .7em;
  text-decoration: none;

}

.btn:hover {
  background-color: #fff;
  color: #495562;
}

h1 {
  text-align: center;

}

.border {
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  padding-bottom: 2rem;

}

@media only screen and (min-width: 60em) {

  .border {
    border-right: 2px solid rgba(255, 255, 255, .5);
    border-bottom: 0;

  }

}
